.sidebar{
  width: 200px;
  height: 300vh;
  display: flex;
  flex-direction: column;
  background-color: rgb(52, 64, 90);
}
.logo-sidebar{
  padding: 20px;
  width: 80%;
  border-bottom: 1px solid whitesmoke;
}
.selector_menu{
  display: flex;
  align-items: center;
  padding: 15px 25px;
  cursor: pointer;
  text-decoration: none;
}
.selector_menu:hover{
  background-color: rgb(62, 78, 100);
}
.selector_menu p{
  font-size: 18px;
  color: whitesmoke;
  margin: 0px 15px;
  font-weight: 600;
  font-family: 'montserrat',sans-serif;
}
.selector_menu i{
  color: whitesmoke;
  font-size: 14px;
}