*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'montserrat', sans-serif;
}
.sidebar{
  width: 200px;
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: rgb(52, 64, 90);
}
.logo-sidebar{
  padding: 20px;
  width: 100%;
  border-bottom: 1px solid whitesmoke;
}
.selector_menu{
  display: flex;
  align-items: center;
  padding: 15px 25px;
  cursor: pointer;
  text-decoration: none;
}
.selector_menu:hover{
  background-color: rgb(62, 78, 100);
}
.selector_menu p{
  font-size: 18px;
  color: whitesmoke;
  margin: 0px 15px;
  font-weight: 600;
  font-family: 'montserrat',sans-serif;
}
.selector_menu i{
  color: whitesmoke;
  font-size: 14px;
}
.Card{
  width: 45%;
  margin: 25px 2.5%;
  background-color: whitesmoke;
  padding: 10px;
  border-radius: 20px;
  height: 120px;
  display: flex;
  align-items: center;
}
.cuadro_ventasPorCamiseta{
  width: 35%;
  margin: 25px 2.5%;
  background-color: whitesmoke;
  padding: 10px;
  border-radius: 20px;
}
.ultimas5Ventas{
  width: 100%;
  margin: 25px 2.5%;
  background-color: whitesmoke;
  padding: 10px;
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.ultimasVentas{
  width: 45%;
  margin: 25px 2.5%;
  background-color: whitesmoke;
  padding: 10px;
  border-radius: 20px;
}
.content_usuarios{
  width: 100%;
  margin: 25px 2.5%;
  background-color: whitesmoke;
  padding: 10px;
  border-radius: 20px;
}

.title_card{
  font-size: 16px;
  font-family: 'montserrat',sans-serif;
  color: #0A0903;
  padding-bottom: 10px;
  font-weight: 700;
  text-align: center;
}
.info_card{
  font-size: 48px;
  font-family: 'montserrat', sans-serif;
  color: #0A0903;
  font-weight: 700;
  text-align: center;
}
.App{
  display: flex;
  min-height: 100vh;
}
.home{
  width: 100vw;
}
.main{
  width: 100%;
  background-color: #dddddd;
}
.flex_column{
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.Card i{
  font-size: 48px;
  color: #0A0903;
}
.flex{
  display: flex;
  flex-wrap: wrap;
}
.icon{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
}
.product{
  width: 200px;
  height: 300px;
  background-color: whitesmoke;
}
.tituloVentas{
  font-size: 32px;
  text-align: center;
  padding: 10px;
  text-align: center;
  font-weight: 700;
}

.fa-basketball-ball, .fa-tshirt, .fa-user, .fa-user-plus, .fa-clock {
  font-size: 32px;
  margin: 5px;
}

.flex_center_5{
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.flex_center{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.content5_ventas{
  width: 50%;
  height: 105px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}
.content_ventas{
  width: 100%;
  display: flex;
  flex-direction: column;
  border-top: 1px solid #ced4da;
}
.content_img_producto{
  display: flex;
  flex-direction: row;
  border-top: 1px solid #ced4da;
}
.content_productos_listado{
  width: 100%;
  display: flex;
  flex-direction: column;
  border-top: 1px solid #ced4da;
}
.content_subtitulo_listado{
  justify-content: space-between;
  display: flex;
  flex-direction: row;

}
.titulo{
  margin: 0px 20px;
  width: 30%;
  font-size: 14px;
  text-align: center;
}
.titulo_2{
  margin: 10px 20px;
  width: 30%;
  font-size: 20px;
  text-align: center;
}
.titulo_5{
  font-size: 26px;
}
.content_ventas_listado{
  width: 50%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  border: 1px solid #0A0903;
  
}
.borders:nth-child(3), .borders:nth-child(5){
  border-top: 1px solid #0A0903;
}
.borders:nth-child(2), .borders:nth-child(4){
  border-top: 1px solid #0A0903;
  border-right: 1px solid #0A0903;
}
.borders:nth-child(4), .borders:nth-child(5){
  border-bottom: 1px solid #0A0903;
}
.flex_ventas{
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}
.flex_ultimo_producto{
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-around;
}
.flex_ventas_listado{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0px;
}
.datos_product{
  text-align: center;
  font-size: 16px;
  text-align: left;
}
span{
  font-weight: 700;
}
.not-found {
  margin-top: 15px;
  text-align: center;
}
.Bar{
  width: 40%;
  margin: 50px 5% ;
}

.title_graph{
  text-align: center;
  font-size: 22px;
}
.header{
  width: 100%;
}

.bar_content{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.id_email {
  width: 70%;
}
.imagen_producto {
  height: 120px;
  width: 120px;
  border: 2px solid #FF8200;
  border-radius: 10px;
}
