<!DOCTYPE html>
<html lang="en">
    <%- include ("includes/head") %>
<body>
    <%- include ("includes/header") %>
    <main>
        <section>
            <form id="contacto" action="">
                <p id="title_contacto">CONTACTO:</p>
                <div class="label_input">
                    <label for="name">Nombre y apellido:</label>
                    <input type="text" name="name" id="name">
                </div>
                <div class="label_input">
                    <label for="mail">Correo Electronico:</label>
                    <input type="email" name="mail" id="mail">
                </div>
                <div class="label_input">
                    <label for="mail">Dejanos tu comentario:</label>
                    <textarea name="comentario" id="comentario" cols="30" rows="10" placeholder=""></textarea>
                </div>
                <button type="submit" class="submit">ENVIAR CONSULTA</button>
            </form>
        </section>
    </main>
    <%- include ("includes/footer") %>
</body>
</html>

