<!DOCTYPE html>
<html lang="en">
    <%- include ("includes/head") %>
<body>
    <%- include ("includes/header") %>
    <main id="main_contacto">
        <section class="contenedor_form">
            <form id="contacto" action="">
                <p id="titulo_contacto">Contactános</p>
                <p id="subtitulo_contacto">¿Cómo podemos ayudar?</p>
                <p id="mensaje_contacto">Todos los campos son obligatorios</p>
                <div class="label_input">
                    <input type="text" name="name" class="input" placeholder="Nombre y apellido">
                </div>
                <div class="label_input">
                    <input type="email" name="mail" class="input" placeholder="E-mail">
                </div>
                <div class="label_input">
                    <textarea name="comentario" id="comentario" cols="30" rows="10" placeholder="Dejanos tu mensaje..."></textarea>
                </div>
                <button type="submit" class="submit">ENVIAR CONSULTA</button>
            </form>
        </section>
        <section class="contenedor_imagen">
            <picture class="imagen_contacto"></picture>
        </section>
    </main>












    <!-- <main>
        <section>
            <form id="contacto" action="">
                <p id="title_contacto">CONTACTO:</p>
                <div class="label_input">
                    <label for="name">Nombre y apellido:</label>
                    <input type="text" name="name" id="name">
                </div>
                <div class="label_input">
                    <label for="mail">Correo Electronico:</label>
                    <input type="email" name="mail" id="mail">
                </div>
                <div class="label_input">
                    <label for="mail">Dejanos tu comentario:</label>
                    <textarea name="comentario" id="comentario" cols="30" rows="10" placeholder=""></textarea>
                </div>
                <button type="submit" class="submit">ENVIAR CONSULTA</button>
            </form>
        </section>
    </main> -->
    <%- include ("includes/footer") %>
</body>
</html>

