<!DOCTYPE html>
<html lang="en">
    <%- include ("includes/head") %>
<body>
    <header>
        <div class="header_top">
            <p>OFERTAS</p>
        </div>
        <div class="header_bottom">
            <figure class="imagen_header">
                <a href="/">
                    <img class="logo_alley_oop" src="/images/alley-oop-logo.png" alt="" width="120px">
                </a>
            </figure>
            <section class="menu_header">
                <a href="/">Home</a>
                <a href="/tienda">Tienda</a>
                
                <a href="/contacto">Contacto</a>
            </section>
            <section class="icon_header">
                <a class="icon_a" href="/login"><i class="fas fa-user"></i></a>
                <a class="icon_a" href="/productCart"><i class="fas fa-shopping-cart"></i></a>
                <div class="burger-menu">
                    <i class="fas fa-bars"></i>
                </div>
            </section>
        </div>
    </header>
    <main>
        <section>
            <form class="contacto" action="">
                <p class="title_contacto">CONTACTO:</p>
                <div class="label_input">
                    <label for="name">Nombre y apellido:</label>
                    <input type="text" name="name" id="name">
                </div>
                <div class="label_input">
                    <label for="mail">Correo Electronico:</label>
                    <input type="email" name="mail" id="mail">
                </div>
                <div class="label_input">
                    <label for="mail">Dejanos tu comentario:</label>
                    <textarea name="comentario" id="comentario" cols="30" rows="10" placeholder=""></textarea>
                </div>
                <button type="submit" class="submit">ENVIAR CONSULTA</button>
            </form>
        </section>
    </main>
    <footer>
        <a href="/">
            <img src="/images/alley-oop-logo.png" width="150px">
        </a>
        <div class="menu_footer">
            <a href="/">Home</a>
            <a href="/tienda">Tienda</a>
            
            <a href="/contacto">Contacto</a>
        </div>
    </footer>
</body>
</html>

