<!DOCTYPE html>
<html lang="en">
    <%- include ("includes/head") %>
<body>
    <%- include ("includes/header") %>
    <main>
        <section class="section_login">
            <div class="login">
                <img src="images/alley-oop-logo_fondoBlanco.png" alt="" width="300px">
                <p class="title_login">Ingresar:</p>
                <div class="a_login_register">
                    <a class="menu_user border active" href="/login"> LOG-IN</a>
                    <a class="menu_user" href="/register"> REGISTRATE</a>
                </div>
                <form  class="form_login" action="">
                    <input type="text" name="user" id="user" placeholder="Escribi tu nombre de usuario o correo">
                    <input type="password" name="password" id="password" placeholder="Escribi tu contaseña">
                    <button class="button_login" type="submit"> Ingresar</button>
                    <p class="login_href">No tenes cuenta, <a href="/register">REGISTRATE</a></p>
                </form>
            </div>
        </section>
    </main>
    <footer>
        <a href="/">
            <img src="/images/alley-oop-logo.png" width="150px">
        </a>
        <div class="menu_footer">
            <a href="/">Home</a>
            <a href="/tienda">Tienda</a>
            
            <a href="/contacto">Contacto</a>
        </div>
    </footer>
</body>
</html>