*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'montserrat',sans-serif;
}


#divisor_main{
    height: 100%;
    margin: 5%;
    display: flex;
    flex-direction: column;
}
.button_admin{
    text-decoration: none;
    border: none;
    background-color: #FF8200 ;
    font-size: 48px;
    width: 95%;
    margin:  2.5%;
    padding: 30px;
    color: #0A0903;
    border-radius: 35px;
    text-align: center;
}
#titulo_admin{
    font-size: 64px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 100px;
    color: #0A0903;
}
@media (max-width:1000px){
    .button_admin{
        font-size: 32px;
    }
    #titulo_admin{
        font-size: 42px;
    }
} 
@media (max-width:681px){
    .button_admin{
        font-size: 24px;
    }
    #titulo_admin{
        font-size: 32px;
    }
} 
@media (max-width:381px){
    .button_admin{
        font-size: 16px;
    }
    #titulo_admin{
        font-size: 22px;
    }
} 