* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'montserrat',sans-serif;
}

html {
    background-color: #eee;;
}

#main_contacto {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 1050px;
}

.contenedor_imagen{
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 90%;
}

.contenedor_form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #2e2e38;
    width: 60%;
    height: 90%;
}

.imagen_contacto{
    background-image: url(/images/imagen_contacto.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
}

#contacto{
    height: 90%;
    width: 80%;
    
}

#titulo_contacto{
    color: #FFC100;
    font-size: 40px;
    margin: 0px 0px 40px 0px;
}

#subtitulo_contacto{
    color: white;
    font-size: 32px;
    margin: 40px 0px;
}

#mensaje_contacto{
    color: white;
    font-size: 16px;
    margin: 40px 0px 5px 0px;
    font-weight: 300;
}

.label_input {
    display: flex;
    flex-direction: column;
    margin: 0px 0px 20px 0px;
}

.submit {
    width: 300px;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    padding: 12px 25px;
    border-color: #FF8200;
    border-style: solid;
    border-width: 2px;
    border-radius: 12px;
    box-shadow: 0px 17px 9px -15px rgb(0 0 0 / 50%);
    background-color: #2e2e38;
    color: white;
}

.submit:hover {
    background-color: #FF8200;
    transition-duration: 0.5s;
}

.label_input label {
    font-size: 16px;
    color:white;
    margin-bottom: 5px;
}

.input {
    background-color: #1a1a24;
    padding: 26px 0px 26px 20px;
    font-size: 16px;
    margin: 8px 0;
    color: white;
    border: none;
    width: 100%;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
  }
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white;
}
::-ms-input-placeholder { /* Microsoft Edge */
    color: white;
}

#comentario{
    background-color: #1a1a24;
    padding: 26px 0px 26px 20px;
    font-size: 16px;
    margin: 8px 0;
    color: white;
    border: none;
    height: 300px;
    resize: none;
    width: 100%;
}
.error {
    color: rgb(255, 0, 0);
    font-size: 14px;
    font-weight: 500;
}
.green{
    color: rgb(44, 236, 44);;
}
.error_front{
    border-bottom: 1px solid rgb(255, 0, 0);
    width: 100%;
}
.error_text{
    border: 1px solid rgb(255, 0, 0) !important;
    width: 100%;
}
.success_front{
    border-bottom: 1px solid rgb(44, 236, 44) !important;
    width: 100%;
}
.success_text{
    border: 1px solid rgb(44, 236, 44) !important;
    width: 100%;
}
.fa-exclamation-circle{
    z-index: 9;
    position: relative;
    right: 40px;
    font-size: 24px;
    color: rgb(255, 0, 0);
    width: 0px;
}
.fa-check-circle{
    z-index: 9;
    position: relative;
    right: 40px;
    font-size: 24px;
    color: rgb(44, 236, 44);
    width: 0px;
}
.flex{
    display: flex;
    align-items: center;
}
#contador{
    color: whitesmoke;
}
.error_contador{
    color: rgb(255, 0, 0) !important;
}
.none{
    display: none !important;
}
@media (max-width:630px){
    #main_contacto {
        justify-content: center;
    }

    .contenedor_imagen{
        width: 0%;
    }
    
    .contenedor_form{
        width: 90%;
    }
    #titulo_contacto{
        font-size: 30px;
    }
    
    #subtitulo_contacto{
        font-size: 24px;
    }
    
    #mensaje_contacto{
        font-size: 12px;
    }
    .submit {
        width: 200px;
        font-size: 12px;
    }
}