
header {
    display: flex;
    flex-direction: column;
}
#header_top {
    height: 40px;
    background-color: #FFEAAE;
    display:flex;
    align-items: center;
    justify-content: center;
}
#header_top p {
    color: #0A0903;
    font-size: 20px;
    text-align: center;
}
#header_bottom {
    display: flex;
    justify-content: space-between;
    background-color: #0A0903;
    align-items: center;
    height: 100px;
}
.imagen_header {
    margin: 0px 30px;
    width: 80px;
    display: none;
}
#menu_header a {
    color: #FFFAFA;
    text-decoration: none;
    padding: 20px;
    font-size: 18px;
    font-weight: bold;
    border-bottom: 1px solid #FFFAFA;
    text-align: center;
}
#menu_header a:first-child {
    border-top: 1px solid #FFFAFA;
}
#menu_header:last-child{
    border-bottom: none;
}

#icon_header a i {
    font-size: 1.7em;
    color: #FFFAFA;
    padding: 10px;
}
#icon_header {
    margin: 0 30px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.fa-bars {
    font-size: 1.5em;
    padding: 10px;
    color: #FFFAFA;
}
#image_perfil{
    border-radius: 100%;
    margin-right: 10px;
    border: 1px solid #FFC100;
}
#a_img_log{
    height: 32px;
    margin-top: 3px;
    display: flex;
    text-decoration: none;
    color: white;
    align-items: center;
    cursor: pointer;
}
.bienvenida_logged{
    display: none;
}
#header_bottom{
    justify-content: flex-start;
}
.dropdown{
    
    position: absolute;
    top: 75px;
    display: flex;
    background: rgba(30,30,30, 0.9);
    flex-direction: column;
    right: 10px;
    width: 100%;
    max-width: 180px;
    box-shadow: 0 27px 15px -17px rgb(0 0 0 / 30%), 0 2px 4px rgb(0 0 0 / 30%);
}
.dropdown a {
    text-decoration: none;
    color: #FFFAFA;
    font-weight: 500;
    padding: 10px 30px;
    width: 100%;
    text-align: center;
}
.dropdown a:hover {
    background: rgba(20,20,20, 0.9);
}
.dropdown a:last-child{
    border: none;
}
.dropdown.show{
    visibility: visible !important;
    opacity: 1 !important;
    transition: all 1s ease !important;
}
#menu_header.show{
    visibility: visible !important;
    opacity: 1 !important;
    transition: all 1s ease !important;
}
.hidden{
    visibility: hidden;
    opacity: 0;
    transition: all 1s ease !important;
}
.hidden_burguer{
    visibility: hidden;
    opacity: 0;
    transition: all 1s ease !important;
}
.none_header{
    display: none !important;
}
.none {
    display: none;
}
#menu_header{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #0A0903;
    position: absolute;
    top: 100px;;
    left: 0px;
}
.burger-menu {
    cursor: pointer;
}

@media (min-width:421px) {
    .imagen_header {
        display: unset;
    }
    .bienvenida_logged{
        display: unset;
    }
    #header_bottom{
        justify-content:space-between;
    }
}
@media (min-width:1000px) {
    .logo_alley_oop {
        width: 160px;
    }
    .none_header{
        display: unset !important;
    }
    .burger-menu {
        display: none;
    }
    .hidden_burguer{
        visibility: unset;
        opacity: unset;
        transition: unset;
    }
    #menu_header a:first-child {
        border-top: unset;
    }
    #menu_header a {
        display: unset;
        border-bottom: none;
    }
    #menu_header{
        display: unset;
        width: unset;
        background-color: unset;
        position: unset;
    }
    .none_burguer{
        display: unset;
    }
}