
header {
    display: flex;
    flex-direction: column;
}
.header_top {
    height: 40px;
    background-color: #FFEAAE;
    display:flex;
    align-items: center;
    justify-content: center;
}
.header_top p {
    color: #0A0903;
    font-size: 20px;
    text-align: center;
}
.header_bottom {
    display: flex;
    justify-content: space-between;
    background-color: #0A0903;
    align-items: center;
    height: 100px;
}
.imagen_header {
    margin: 0px 30px;
    display: none;
}
.menu_header a {
    color: #FFFAFA;
    text-decoration: none;
    padding: 20px;
    font-size: 22px;
    font-weight: bold;
    display: none;
}
.icon_header a i {
    font-size: 1.3em;
    color: #FFFAFA;
    padding: 10px;
}
.icon_header {
    margin: 0 30px;
    display: flex;
    width: 190px;
    align-items: center;
    justify-content: flex-end;
}
.fa-bars {
    font-size: 1.5em;
    padding: 10px;
    color: #FFFAFA;
}
@media (min-width:361px) {
    .imagen_header {
        display: unset;
    }
}
@media (min-width:1000px) {
    .logo_alley_oop {
        width: 190px;
    }
    .burger-menu {
        display: none;
    }
    .menu_header a {
        display: unset;
    }
}