.section_login {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFAFA;
}
.login {
    background-color: #c9c9c9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 450px;
    margin: 145px 0px;
    border-radius:70px;
}
.title_login {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    margin: 10px 30px 30px;
}
.a_login_register{
    display: flex;
    align-items: center;
}
.menu_user{
    background-color: #FFFAFA;
    padding: 10px 20px;
    width: 190px;
    font-weight: 600;
    font-size: 22px;
    color: #0A0903;
    text-align: center;
    text-decoration: none;
    transition: all 1050ms;
}
.border {
    border-right: 1px solid #ebebeb;
}
.active {
    border-bottom: 2px solid #0A0903;
}
.form_login {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    width: 100%;
}

.form_login input{
    box-sizing: border-box;
    border-radius: 30px;
    padding: 11px 20px;
    border: none;
    margin: 20px 0px;
    width: 100%;
}
.button_login {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 70%;
    border: none;
    background-color: #FF8200;
    color: #FFFAFA;
    font-size: 32px;
    box-shadow: 0 27px 15px -17px rgb(0 0 0 / 30%), 0 2px 4px rgb(0 0 0 / 30%);
    font-weight: 700;
    padding: 5px 30px;
    border-radius: 30px;
    cursor: pointer;
    transition: all 750ms;
}
.menu_user:hover {
    background-color: #0A0903 ;
    color: #FFFAFA;
}
.button_login:hover{
    background-color: #0a0903 ;
}
.login img {
    margin-top:  40px;
    margin-bottom: 40px;
}
.login_href {
    font-size: 16px
}
@media (max-width:450px) {
    .login {
        width: 100%;
    }
    .a_login_register {
        width: 90%;
    }
    .menu_user {
        width: 50%;
        font-size: 12px;
        padding: 10px 0px;
    }
    .title_login {
        font-size: 24px;
    }
    .form_login input{
        width: 100%;
    }
    .button_login {
        font-size: 20px;
        width: 95%;
    }
    .form_login{
        padding: 10px;
    }
}