*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'montserrat',sans-serif;
}

html {
    background-color: #eee;
}

.contenedor-carrito {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.volver {
    margin: 0px 0px 0px 5px;
}

.titulo-producto {
    font-size: 10px;
    font-weight: 500;
    color: #333;
}

section a {
    padding-left: 5px;
    text-decoration: none;
    color: grey;
    font-weight: bold;
    font-size: 12px;
}

.fa-chevron-left{
    color: grey;
    font-size: 12px;
}

.titular-carrito {
    font-size: 22px;
    font-weight: 700;
    margin: auto;
    padding: 20px 0px 20px 0px;
    color: #333;

}

.titulo-input {
    font-size: 12px;
    font-weight: 700;
    color: #333;
}

.subtitulo{
    color: #9b9b9b;
    font-weight: 600;
    font-size: 12px;
    margin-top: 5px;  
}

.subtitulo-articulo{
    color: #9b9b9b;
    font-weight: 600;
    font-size: 10px;
    align-self: flex-start;  
}

.contenedor-form {
    background-color: white;
    width: 100vw;
    padding: 15px;
    margin-bottom: 100px;
}

.contenedor-item {
    padding: 12px;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.contenedor-item-pago {
    padding: 12px;
    border: none;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}

.contenedor-item-foto {
    padding: 0px 12px 20px 12px;
    border: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    border-bottom: 2px solid #eee;
    margin-bottom: 20px;
}

.contenedor-propiedades-articulo {
    margin-left: 15px;
    border: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-grow: 1;
}

.contedor-cantidad {
    display: flex;
    flex-wrap: wrap;
}

.contenedor-item-delete {
    margin-top: 5px;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.select-cantidad{
    width: 40% !important;
    margin: 3px;
}

.fa-times{
    color: grey;
    font-size: 12px;
    align-self: flex-end;
}

.caja {
    padding: 5px;
    border-radius: 8px;
    border-style:solid;
    border-color: #eee;
    width: 100%;
    height: 40px;
    font-size: 12px;
    padding-left: 10px;
    border-width: 2px;
    background-color: white !important;
}

.boton-compra {
    background-image: none;
    background-color: #FF8200;
    border-radius: 40px;
    border: none;
    box-shadow: 0 27px 15px -17px rgb(0 0 0 / 30%), 0 2px 4px rgb(0 0 0 / 30%);
    color: #fff;
    text-align: center;
    cursor: pointer;
    display: block;
    font-size: 8px;
    font-weight: 700;
    height: 50px;
    letter-spacing: 2px;
    line-height: 50px;
    outline: none;
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color .2s ease,box-shadow .2s ease;
    width: 75%;
    max-width: 350px;
    align-self: center;
}

.titulo {
    font-size: 12px;
    text-align: center;
    align-self: center;
    margin-bottom: 15px;
}

.titulo-envio {
    font-size: 12px;
    text-align: center;
    align-self: center;
}

.subtitulo {
    text-align: center;
    align-self: center;
    margin-bottom: 15px
}

.imagen_promocion {
    width: 30%;
    height: 30%;
    border: solid;
    border-color: #FF8200;
    border-width: thin;
}

section a.titulo-articulo {
    text-decoration: none;
    color: black;
    font-weight: thin;
    font-size: 12px;
}

.precio {
    text-align: right;
    width: 100%;
    font-size: 12px;
}

.contenedor-subtotal {
    display: flex;
    justify-content: space-between;
    margin: 12px;
    padding-bottom: 12px;
    border-bottom: 2px solid #eee;
}

.resumen {
    margin: 12px;
    border: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-grow: 1;
    border-bottom: 2px solid #eee; 
    padding-bottom: 12px;
}

.resumen-articulos {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

p.subtotal {
    font-size: 16px;
    font-weight: 700;
    color: #333;
}
.precio_articulo{
    text-align: right;
    font-size: 12px;
    width: 30%;
}
.subtitulo-articulo {
    width: 70%;
    text-align: left;
}

.contenedor-newsletter {
    display: flex;
    border: none;
    margin: 15px;
    font-size: 12px;
    color: #333;
    align-items: baseline;
    align-content: space-between;
}

@media (min-width: 361px) {
    .contenedor-form{
        width: 95vw;
        max-width: 500px;
    }
    .boton-compra{
        font-size: 10px;
    }
    .titulo-producto {
        font-size: 12px;
    }
    .subtitulo-articulo{
        font-size: 12px;
    }
    .titulo, .titulo-envio{
        font-size: 16px;
    }   
}