* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'montserrat',sans-serif;
  }
html {
      background-color: #eee;
  }
#derecha_detail{
      width: 50%;
  }
main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 112px;
    min-height: calc(100vh - 140px);
}
.celular {
    display: none;
}
.detalles_remera_container {
    width: 80%;
    background-color: #fff;
    padding: 60px;
    max-width: 1000px;
}
.principal {
    display: flex;
}
 #producto_principal {
    height: auto;
    box-shadow: 0px 1px 5px rgb(170, 170, 170);
    display: block;
    max-width: 340px;
    max-height: 340px;
    cursor: pointer;
}

.info-container{
    width: 60%;
    margin-left: 20px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.info-container h2 {
    font-size:1.5rem;
    padding-bottom: 25px;
    border-bottom: 1px solid rgba(150, 150, 150, 0.726);
}
.info-container .precio {
    font-size: 18px;
    padding: 10px 0 10px 0;
}
.info-container .seleccion-talla label{
    font-size: 1.3rem;
}
.info-container .carrito-buttom-detail {
    background-color: #FF8200;
    color: white;
    border: none;
    max-width: 300px;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    padding: 15px 0px;
    margin-top: 30px;
    margin-bottom: 20px;
    border-radius: 30px;
    width: 100%;
    text-align: center;

}
#formulario_carrito{
    width: 100%;
}
.info-container .otra-desc{
    font-size: 1rem;
    padding-top: 20px;
}
.otras-img-container {
    width: 45%;
    display: flex;
}
.otras-img-container img{
    width: 60px;
    cursor: pointer;
    height:60px;
}
.frente, .espalda {
    width: 60px;
    height: 60px;
    margin: 10px 20px 10px 0px;
    box-shadow: 0px 1px 5px rgb(170, 170, 170);
}
.espalda_principal{
    display: none;
}
.frente:hover .producto_frente {
    display: none;
}
.espalda:hover, .frente:hover{
    border: 1px solid #000;
}
.contenedor{
    width: 100%;
}
h2
.precio, .otra-desc, .seleccion-talla label {
    color: #868686;
}
.flex {
    display: flex;
    flex-wrap: wrap;
}
.buton_edit{
    background-color: #4eaefd;
    color: white;
    border: none;
    max-width: 200px;
    width: 45%;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    padding: 15px 0px;
    margin: 30px 10px 20px 10px;
    border-radius: 30px;
    text-align: center;  
}
.buton_delete{
    background-color: #d82e2e;
    color: white;
    border: none;
    max-width: 200px;
    width: 45%;
    text-decoration: none;
    padding: 15px 0px;
    margin: 30px 10px 20px 10px;
    border-radius: 30px;
    text-align: center; 
    cursor: pointer;
}
.button_eliminar{
    background-color: #d82e2e;
    color: white;
    font-size: 18px;
    font-weight: 600;
    border: none;
    cursor: pointer;
}
.none{
    display: none;
}
.flex_center{
    display: flex;
    margin-top: 10px;
}
.contenedor_img.show{
    position: fixed;
    top: 0vh;
    left: 0vw;
    z-index: 9;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(25, 25, 25, 0.9);
    transition: all 0.2s ease-in-out;
}
.original{
    max-height: 85%;
    width: auto;
}
.fa-times{
    position: absolute;
    top: 10px;
    right: 25px;
    color: whitesmoke;
    font-size: 32px;
    cursor: pointer;
}
.arrows {
    position: absolute;
    z-index: 10;
    width: 3rem;
    height: 3rem;
    font-size: 26px;
    font-weight: 600;
    background-color:black;
    color: whitesmoke;
    display: flex !important;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
}
.fa-arrow-right{
    right: 2rem;
}
.fa-arrow-left{
    left: 2rem;
}
@media (max-width:1200px) {
    main{
        width: 100%;
        padding: 30px;
    }
    .detalles_remera_container{
        width: 100%;
        max-width: 900px;
    }
    .principal{
        width: 100%;
    }
    .info-container .carrito-buttom-detail{
        width: 60%;
        font-size: 12px;
    }
    
    #producto_principal{
        height: 250px;
        width: 250px;
        
    }
    .info-container{
        width: auto;
    }
    .info-container .carrito-buttom-detail{
        width: 100% !important;
    }
    .principal {
        align-items: center;
    }
    .info-container h2{
        font-size: 1.1rem;
        padding: 10px;
    }
    .info-container .carrito-buttom-detail {
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .info-container .precio{
        padding: 10px 0px;
        font-size: 19px;
    }
    .otra-desc{
        padding-top: 10px;
    }
    .buton_edit, .buton_delete{
        margin: 30px 5px 20px 5px;
    }
}
@media (max-width:800px){
    .celular{
        display: unset;
    }
    .destkop{
        display: none;
    }
}

@media (max-width:650px) {
    .otra-desc:last-child {
        margin-bottom: 30px;
    }
    main{
        width: 100%;
        padding: 30px 10px;
    }
    .frente:hover .producto_frente {
        display: none;
    }
    .detalles_remera_container{
        width: 100%;
    }
    .principal{
        width: 100%;
    }

    .info-container .carrito-buttom-detail{
        width: 60%;
        font-size: 12px;
    }
    
    #producto_principal{
        height: 90vw;
        width: 90vw;
    }
    .info-container{
        width: 90vw;
        margin: 0px;
    }
    .info-container h2 {
        font-size: 1.6rem;
    }
    .otra-desc p{
        font-size: 10px;
    }
    .detalles_remera_container{
        padding: 10px
    }
    .principal{
        flex-direction: column;
        align-items: center;
    }
    .otras-img-container {
        width: auto;
    }
    .principal {
        align-items: unset;
    }
    .flex_center{
        display: flex;
        justify-content: center;
        margin-top: 10px;
    }
    .seleccion-talla{
        margin:  5px 0px;
    }

    .buton_delete,.buton_edit{
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }
    .flex{
        justify-content: center;
    }
    .none{
        display: unset;
        font-size: 1.6rem;
        padding-bottom: 25px;
        border-bottom: 1px solid rgba(150, 150, 150, 0.726);
        margin-bottom: 8px;

    }
    .info-container h2{
        display: none;

    }
    #derecha_detail{
        width: 100%;
        display: flex;
        flex-direction:column ;
    }
}