*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'montserrat',sans-serif;
}
.titulo_principal{
    font-size: 32px;
    font-weight: 800;
    text-align: center;
}
main{
    height: 700px;
    margin: 50px 100px;
    padding: 15px;
    background-color: #ebebeb;
}
    
.content{
    display: flex;
    height: 75%;
    align-items: center;
}

fieldset{
    display: flex;
    align-items: flex-start;
    margin: 25px 5%;
    width: 90%;
    flex-direction: column;
}
input, label, fieldset{
    border: none;
}
.border{
    border-radius: 30px;
    border: 3px #ebebeb solid;
    padding: 10px 20px;
}
label{
    margin-left: 10px;
}
.titulo{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 5px;
    width: 80px;
    margin-right: 10px;

}
#submit{
    width: 75%;
    border: none;
    color: #FFFAFA;
    background-color: #39b54a;
    padding: 5px 10px;
    border-radius: 30px;
    margin-bottom: 25px;
    font-size: 22px;
    margin-top: 15px;
    margin-left: 12.5%;
}
.lado_derecho{
    width: 50%;
    height: 100%;
    display: flex;
    margin-top: 10%;
    flex-direction: column;
    align-items:flex-end;
    margin-right: 20px;
}
.lado_derecho img{
    height: 70%;
}
.title_img{
    font-size: 26px;
    text-align: center;
    font-weight: 700;
    margin-bottom: 20px;
}
.width{
    width: 100%;
}
form{
    width: 50%;
    height: 100%;
    display: flex;
    margin-top: 10%;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 20px;
}
.imagen{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}
.formularios{
    height: 70%;
    width: 50%;
}
.imagen img {
    border-radius: 100%;
    border: 10px solid #FFC100;
    height: 70%;
}
.Buton-logout{
    background-color: #d82e2e;
    color: white;
    border: none;
    max-width: 600px;
    width: 45%;
    text-decoration: none;
    padding: 15px 0px;
    margin: 30px 10px 20px 10px;
    border-radius: 30px;
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    cursor: pointer;
}
.formulario_logout{
    margin: 0px;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
}
#imagen_form{
    margin: 0;
    width: 100%;
}
#imagen_form fieldset {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#imagen_form fieldset label {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 5px;
    margin-right: 10px;
}
#send_foto{
    width: 40%;
    border: none;
    color: #FFFAFA;
    background-color: #39b54a;
    padding: 5px 10px;
    border-radius: 30px;
    margin-bottom: 25px;
    font-size: 22px;
    margin-left: 30%;
    margin-top: 8px;
}
#image{
    width: 50%;
    padding: 5px;
}
#fieldset_image{
    margin: 10px;
}
#figure_profile{
    height: 250px;
    width: 250px;
}
#figure_profile img{
    height: 250px;
    width: 250px;
}
@media (max-width: 1400px) {
    .formularios{
        width: 95%;
    }
}
@media (max-width: 1000px){
    .content{
        flex-direction: column;
    }
    main{
        height: unset;
    }
    .lado_derecho{
        align-items: unset; 
        margin-right: 0px;
        width: 100%;
    }
    .lado_derecho img{
        width: 50%;
    }
    form{
        width: 80%;
        margin-left: 0px;
    }
    .title_img{
        width: 100%;
    }
    main{
        margin: 40px
    }
}
@media (max-width: 500px){
    .titulo_principal{
        font-size: 22px;
    }
    .title_img{
        font-size: 18px;
    }
    form{
        width: 100%;
    }
    main{
        margin: 10px
    }
    .lado_derecho img{
        width: 75%;
    }
   
}
@media (max-width: 320px){
    .imagen img {
        border: 2px solid #FFC100
    }
    #figure_profile{
        height: 70vw;
        width: 70vw;
    }
    #figure_profile img{
        height: 70vw;
        width: 70vw;
    }
}