*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'montserrat',sans-serif;
}
.main_home {
    background-color: #FFFAFA;
}
.background_home {
    background-image: url(/images/basket_pelota.jpeg);
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.title_background {
    font-size: 32px;
    font-weight: 500;
    color: #FFFAFA;
    text-align: center;
}
.subtitle_background{
    text-align: center;
    font-size: 16px;
    font-weight: 900;
    color: #FFC100;
    
}
.p_home{
    margin:10px;
}
.titulo_productos {
    font-size: 48px;
    margin: 15px;
    text-align: center;
}
.articulo_destacado {
    width: 95vw;
    margin: 2vw;
    box-sizing: border-box;
    background-color: #ebebeb;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1vw;
}
.imagen_promocion {
    width: 90vw;
}
.precio_descuento {
    display: flex;
    align-items: center;
}
.precio_descuento p {
    margin:  5px 20px;
    font-weight: 600;
}
.descuento {
    color: #39b54a;
}
.precio {
    font-size: 28px;
}
.jugador {
    font-weight: 600;
}
.articulos_promocion {
    display: flex;
    flex-direction: column;
}
.boton_productos {
    background-color: #FFEAAE;
    color: #FFFAFA;
    border: none;
    width: 300px;
    font-size: 32px;
    font-weight: 700;
    text-decoration: none;
    padding: 15px 0px;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 40px;
    text-align: center;

}
.contenedor_boton {
    display: flex;
    align-items: center;
    justify-content: center;
}
.banner_beneficios {
    background-color: #0A0903;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 60px 0px;
    padding: 20px
}
.banner_beneficios i {
    font-size: 2em;
    color: #FFFAFA;
}
.title_beneficio{
    font-size: 22px;
    color: #FFFAFA;
    font-weight: 800;
    text-align: center;
}
.subtitle_beneficio{
    font-size: 16px;
    color: #FFFAFA;
    text-align: center;
}
.beneficio {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    width: 95vw;
}
@media (min-width:389px) {
    .title_background {
        font-size: 36px;
    }
    .subtitle_background{
        font-size: 22px;
    }
    .articulo_destacado {
        width: 42vw;
    }
    .imagen_promocion {
        width: 40vw;
        height: 40vw;
    }
    .articulos_promocion {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .descripcion {
        height: 38px;
    }
    .boton_productos {
        padding: 10px 20px;
        width: 350px;
    }
    .banner_beneficios{
        flex-direction: row;
    }
    .beneficio{
        width: 30vw;
    }
}
@media (min-width:790px) {
    .background_home {
        justify-content: flex-start;
    }
    .title_background {
        font-size: 42px;
    }
    .subtitle_background{
        font-size: 26px;
        margin: 20px;
        padding-right: 90px;
    }
    .p_home {
    width: 600px;
    margin-left: 50px;
    }
    .articulo_destacado {
        width: 16vw;
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    .imagen_promocion {
        width: 15vw;
        height: 15vw;
    }
    .articulos_promocion {
        justify-content: space-around;
    }
    .precio_descuento p {
        margin:5px;
    }
    .productos_home {
        padding: 80px 6vw;
    }
    .titulo_productos {
        margin-bottom: 60px;
    }
    .boton_productos {
        width: 30vw;
        margin-top: 120px;
    }
}
@media (min-width:1100px){
    .p_home {
        margin-left: 200px;
}
}