*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'montserrat',sans-serif;
}
#main_tienda{
    background-color: #ededed;
    min-height: calc(100vh -  170px)
}

#title_admin{
    font-size: 32px;
    color: black;
    text-align: center;
    font-weight: 600;
    padding: 15px;
}
#titulo_Compras{
    font-size: 32px;
    color: black;
    padding: 15px;
    text-align: center;
    margin-left: 65px;
}
.articulo_destacado{
    width: 90%;
    margin: 20px 5%;
    border-radius: 15px;
    max-width: 1200px;
    background-color: #FFFAFA;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding:  25px;
    align-items: center;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 12%);
}
#figure_ventas{
    height: 150px;
    margin: 0px 10px 10px;
}
.imagen_promocion{
    height: 100%;
    border: 1px solid #ededed;
}
.flex{
    display: flex;
}
.descripcion span, .titulo_cancelado span{
    font-weight: 700;
}
.descripcion{
    margin-bottom: 5px;
}
#enviar_estado{
    width: 50%;
    border: none;
    color: #FFFAFA;
    background-color: #39b54a;
    padding: 5px 10px;
    border-radius: 30px;
    font-size: 16px;
    margin-top: 8px;
}
.flex_column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#articulos_promocion{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 30px 10px;
}
.a_menu_ventas{
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu_user{
    background-color: #FFFAFA;
    padding: 10px 20px;
    width: 30vw;
    font-weight: 600;
    font-size: 22px;
    color: #0A0903;
    text-align: center;
    text-decoration: none;
    transition: all 1050ms;
}
.active_process{
    background-color: #4eaefd;
    color: white;
}
.active_cancel{
    background-color: #d82e2e;
    color: white;
}
.active_finish{
    background-color: #39b54a;
    color: white;
}
.finish:hover{
    background-color: #39b54a;
    color: white;
}
.cancel:hover{
    background-color: #d82e2e;
    color: white;
}
.status:hover{
    background-color: #4eaefd;
    color: white;
}
.titulo_cancelado{
    font-size: 22px;
}
.cruz_cancelada{
    font-size: 48px;
    background-color: #d82e2e;
    height: 60px;
    width: 60px;
    border-radius: 100%;
    color: whitesmoke;
    text-align: center;
    padding: 10px;
    display: flex;
    display: flex !important;
    justify-content: center;
    align-items: center;
}
#select{
    width: 200px;
    border-radius: 10px;
    border: none;
    border: 1px #ededed solid;
}
.tic_terminado{
    font-size: 48px;
    background-color: #39b54a;
    height: 60px;
    width: 60px;
    border-radius: 100%;
    color: whitesmoke;
    text-align: center;
    padding: 10px;
    display: flex;
    display: flex !important;
    justify-content: center;
    align-items: center;
}
.titulo_cancel_finish{
    font-size: 24px;
    text-align: left;
    font-weight: 600;

}
#contenedor_descripciones{
    margin-left: 25px;
}
.boton_compras{
    background-color: #FF8200;
    color: white;
    border: none;
    max-width: 200px;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    padding: 15px 10px;
    margin-top: 30px;
    margin-bottom: 20px;
    border-radius: 30px;
    width: 100%;
    text-align: center;

}
.tic_compras {
    font-size: 14px;
    background-color: #39b54a;
    height: 20px;
    width: 20px;
    border-radius: 100%;
    color: whitesmoke;
    text-align: center;
    display: flex !important;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
}
.cancel_compras{
    font-size: 14px;
    background-color: #d82e2e;
    height: 20px;
    width: 20px;
    border-radius: 100%;
    color: whitesmoke;
    text-align: center;
    display: flex !important;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
}
.confirmado_compras{
    font-size: 14px;
    background-color: #d1c12f;
    height: 25px;
    width: 25px;
    border-radius: 100%;
    color: whitesmoke;
    text-align: center;
    display: flex !important;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
}
.envio_compras{
    font-size: 14px;
    background-color: #4eaefd;
    height: 25px;
    width: 25px;
    border-radius: 100%;
    color: whitesmoke;
    text-align: center;
    display: flex !important;
    justify-content: center;
    align-items: center;
    margin-left: 5px; 
}
.botones_compras{
    padding-left: 25px;
    border-left: 1px #ededed solid;
}
.center{
    align-items: center;
}
.margin_top{
    margin-top: 5px;
}
@media (max-width:1000px) {
    #figure_ventas{
        margin: 10px 10px 10px 0px;
    }
    .articulo_destacado{
        justify-content: center;
    }
}
@media (max-width:640px){
    .menu_user{
        font-size: 14px;
        width: 33vw;
    }
    #figure_ventas{
        margin: 0px;
    }

    .titulo_cancelado{
        font-size: 18px;
        margin-top: 5px;
    }
    .cruz_cancelada, .tic_terminado{
        margin-top: 5px;
    }
}
@media (max-width:440px){
    .menu_user p {
        display: none;
    }
    .imagen_promocion{
        height: auto;
        width: 100%;
    }
    #figure_ventas{
        display: none;
    }
}