<footer>
    <a href="/">
        <img src="/images/alley-oop-logo.png" width="150px">
    </a>
    <div class="menu_footer">
        <a href="/">Home</a>
        <a href="/tienda">Tienda</a>
        <a href="/contacto">Contacto</a>
    </div>
</footer>