<header>
    <div id="header_top">
        <p>OFERTAS</p>
    </div>
    <div id="header_bottom">
        <figure class="imagen_header">
            <a href="/">
                <img class="logo_alley_oop" src="/images/alley-oop-logo.png" alt="" width="120px">
            </a>
        </figure>
        <section id="menu_header">
            <a href="/">Home</a>
            <a href="/tienda">Tienda</a>
            <a href="/contacto">Contacto</a>
            <% if (locals.userLogged && locals.userLogged.admin) { %>
                <a href="/admin/admin">Administrar</a>
            <% } %> 
            <% if (locals.isLogged) { %>
                <a href="/misCompras">Mis compras</a>
            <% } %> 
        </section>
        <section id="icon_header">
            <% if (locals.isLogged) { %>
                <a id="a_img_log" href="/user/profile">
                    <img src="/uploads/users/<%= locals.userLogged.image %> " alt="" height="32px" width="32px" id="image_perfil">
                    <p class="bienvenida_logged"> Bienvenido <%= locals.userLogged.firstName %> </p>
                </a>
            <% } else { %>
                <a class="icon_a" href="/user/login"><i class="fas fa-user"></i></a>
            <% } %>
            <div class="burger-menu">
                <i class="fas fa-bars"></i>
            </div>
        </section>
    </div>
</header>