<!DOCTYPE html>
<html lang="en">
    <%- include ("../includes/head") %>
<body>
    <%- include ("../includes/header") %>
    <main>
        <section id="volver">
            <i class="fas fa-chevron-left"></i><a href="/productCart">Volver</a>
        </section>
        <section id="contenedor-carrito">
            <p id="titular-carrito">Carrito de compras</p>
            <form  id= "contenedor-form" action="" method="POST">
                <fieldset class="contenedor-item">
                    <p id="titulo-envio">2. DIRECCIÓN DE ENVÍO</p>
                    <p id="subtitulo">Todos los datos son obligatorios</p>
                </fieldset>
                <fieldset class="contenedor-item">
                    <label class="titulo-input" for="nombre">Nombre*</label>
                    <input class="caja" type="text" name="nombre" id="nombre" required>
                </fieldset>
                <fieldset class="contenedor-item">
                    <label class="titulo-input" for="apellido">Apellido*</label>
                    <input class="caja" type="text" name="apellido" id="apellido" required>
                </fieldset>
                <fieldset class="contenedor-item">
                    <label class="titulo-input"for="email">Dirección de correo electrónico*</label>
                    <input class="caja" placeholder="p. ej. jordan@alleyoop.com" type="email" name="email" id="email" required>
                </fieldset>
                <fieldset class="contenedor-item">
                    <label class="titulo-input"for="telefono">Teléfono*</label>
                    <input class="caja" type="tel" name="telefono" id="telefono" required>
                </fieldset>
                <fieldset class="contenedor-item">
                    <label class="titulo-input"for="direccion">Dirección de envío*</label>
                    <input class="caja" type="text" name="direccion" id="direccion" placeholder="p. ej. Calle Scottie Pippen 1996" required>
                </fieldset>
                <fieldset class="contenedor-item">
                    <label class="titulo-input" for="localidad">Localidad*</label>
                    <input class="caja" type="text" name="localidad" id="localidad" required>
                </fieldset>
                <fieldset class="contenedor-item">
                    <label class="titulo-input" for="provincia">Provincia*</label>
                    <select class="caja" name="provincia" id="provincia" required>
                        <option value="" selected>Elegí tu provincia</option>
                        <option value="bsas">Provincia de Buenos Aires</option>
                        <option value="cat">Provincia de Catamarca</option>
                        <option value="cor">Provincia de Córdoba</option>
                        <option value="Ctes">Provincia de Corrientes</option>
                        <option value="er">Provincia de Entre Ríos</option>
                        <option value="for">Provincia de Formosa</option>
                        <option value="jj">Provincia de Jujuy</option>
                        <option value="pam">Provincia de La Pampa</option>
                        <option value="rio">Provincia de La Rioja</option>
                        <option value="men">Provincia de Mendoza</option>
                        <option value="mis">Provincia de Misiones</option>
                        <option value="neu">Provincia de Neuquén</option>
                        <option value="rn">Provincia de Río Negro</option>
                        <option value="sal">Provincia de Salta</option>
                        <option value="sj">Provincia de San Juan</option>
                        <option value="sl">Provincia de San Luis</option>
                        <option value="sc">Provincia de Santa Cruz</option>
                        <option value="sf">Provincia de Santa Fe</option>
                        <option value="sde">Provincia de Santiago del Estero</option>
                        <option value="tdf">Provincia de Tierra del Fuego, Antártida e islas del Atlántico Sur</option>
                        <option value="tuc">Provincia de Tucumán</option>
                        <option value="cha">Provincia del Chaco</option>
                        <option value="chu">Provincia del Chubut</option>
                    </select>
                </fieldset>
                <fieldset class="contenedor-item">
                    <label class="titulo-input" for="codigopostal">Código Postal*</label>
                    <input class="caja" type="text" name="codigopostal" id="codigopostal" required>
                </fieldset>
                <fieldset class="contenedor-item">
                    <a href="/productCartTres" class="boton-compra">IR A MÉTODO DE PAGO</a>
                </fieldset>
                
                
            </form>
        </section>
    </main>
    <%- include ("../includes/footer") %>
</body>
</html>

