<!DOCTYPE html>
<html lang="en">
    <%- include ("../includes/head") %>
<body>
    <%- include ("../includes/header") %>
    <main id="main_admin">
        <section class="contenedor_administrador">
            <div class="texto_boton">
                <p>Administrá tus productos</p>
                <a class="button_admin" href="/admin/products"><i class="fas fa-basketball-ball"></i>Configurar</a>
            </div>
            <picture class="imagen_productos"></picture>
        </section>
        <section class="contenedor_administrador">
            <picture class="imagen_ventas"></picture> 
            <div class="texto_boton">
                <p>Administrá tus ventas</p>
                <a class="button_admin" href="/admin/ventas"><i class="fas fa-truck"></i>Configurar</a>
            </div>
        </section>
    </main>
    <%- include ("../includes/footer") %>
</body>
</html>

