<!DOCTYPE html>
<html lang="en">
    <%- include ("../includes/head") %>
<body>
    <%- include ("../includes/header") %>
    <main id="main_admin">
        <div id="divisor_main">
            <p id="titulo_admin"> ADMINISTRAR:</p>
            <a class="button_admin" href="/admin/products">
                <i class="fas fa-basketball-ball"></i>
                Administrador de productos
            </a>
            <a class="button_admin" href="">
                <i class="fas fa-truck"></i>
                Administrador de Ventas
            </a>
        </div>
    </main>
    <%- include ("../includes/footer") %>
</body>
</html>

